.DS_Store
.idea
*.log
*.php_cs.cache
/vendor
/logs
/cache
.sass-cache/
.tmp/
dist/
node_modules/
bower_components/
data/sql
data/model
.php_cs.dist
.ash_history
.bash_history
.env
tests/.env.mocking
/tests/_envs/kd.yml
/static/testcafe/autotests/_output/
.cache
.cache/
/.cache/
/cache/
/cache/